<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="120 seconds">

<!--    <appender name="Last_30_Days" class="ch.qos.logback.core.rolling.RollingFileAppender">-->

<!--        <File>logs/insta_bk.log</File>-->

<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; daily rollover &ndash;&gt;-->
<!--            <FileNamePattern>insta.%d{yyyy-MM-dd}.log</FileNamePattern>-->
<!--            &lt;!&ndash; keep 30 days' worth of history &ndash;&gt;-->
<!--            <maxHistory>30</maxHistory>-->

<!--        </rollingPolicy>-->

<!--        <encoder>-->
<!--            <pattern>%date{ISO8601} %-5level [%thread] [%file:%line %M] - %msg %n</pattern>-->
<!--        </encoder>-->

<!--    </appender>-->

<!--    <appender name="STDOUT" class="ch.qos.logback.core.FileAppender">-->

<!--        <file>logs/insta.log</file>-->

<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>%date{ISO8601} %-5level [%thread] [%file:%line %M] - %msg %n</pattern>-->
<!--        </encoder>-->

<!--    </appender>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

        <encoder>
            <pattern>%date{ISO8601} %-5level [%thread] [%file:%line %M] - %msg %n</pattern>
        </encoder>

    </appender>

    <!-- Test -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
<!--        <appender-ref ref="STDOUT"/>-->
    </root>

</configuration>